.footer-container {
  background-color: skyblue; }
html {
  background-color: #f2f2f2;
  font-family: Helvetica, Arial, sans-serif; }

#app {
  background-color: white;
  margin: 0 auto;
  text-align: center; }
